q,body {
    margin: 0;
}
.wrapper {
    background-color: #ccc;
    width: 500px;
    height: 500px;
    position: relative;
    top: 30px;
}
.box {
    width: 100px;
    height: 100px;
}
.box1 {
    background-color: blue;
    position: absolute;
    top: 50px;
}
.box2 {
    background-color: rgb(232, 65, 238);
    position: absolute;
    left: 10px;
}
.box3 {
    background-color: rgb(18, 138, 2);
    position: absolute;
    left: 20px;
}
.box4 {
    background-color: rgb(249, 251, 119);
    position: absolute;
    left: 50px;
}