body {
    margin: 0;
}
.wrapper {
    background-color: #ccc;
    height: 400px;
    position: relative;
    top: 100px;
}
.img-box {
    height: 250px;
    width: 250px;
    border: 10px solid #fff;
    position: relative;
    top: 50px;
    left: 200px;
}
.img-box img {
    height: 100%;
    width: 100%;
}
.caption-box {
    background-color: rgb(201, 222, 250);
    width: 200px;
    height: 60px;
    position: relative;
    bottom: 40px;
    left: 80px;
}
.caption-box p {
    line-height: 3;
    padding: 0 8px;
    margin: 0;
}